<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Bot ID</th>
        <th>Container ID</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    {% for bot in bots %}
    <tr>
        <td>{{bot.id}}</td>
        <td>{{bot.container_id}}</td>
        <td>{{bot.status}}</td>
        <td>
            <a href="/start-bot/{{bot.id}}">start container</a><br>
            <a href="/stop-bot/{{bot.id}}">stop container</a>
        </td>
    </tr>

    {% endfor %}
</table>
<p><a href="">Refresh status</a><br></p>
{% endblock %}